{% extends 'base.html.twig' %}

{% block body %}


   <h1>{{sh.title}}</h1>

   <p>{{sh.createdAt|date('d/m/Y/h')}}</p>

   <button> <a  href="{{path ('app_demo' , {})}}">  View All data   </a> </button>

   

{% endblock %}   




